In [8]:
data='python'
for x in data:
    print(x)
#x is a parameter for loop execution

p
y
t
h
o
n

In [9]:
data[0]

'p'

In [10]:
data[-1]

'n'

In [11]:
data='python'
for x in data:
    print(x,'x')
#x will be printed untill the loop stop

p x
y x
t x
h x
o x
n x

In [12]:
for x in range(len(data)):
    print(data[x])
#using range function ;in which variable length is considered and the parameter x will work by considering the length
#in this section length can be expressed ;like in this section it will be 6

p
y
t
h
o
n

In [13]:
data='I really love you'
for x in range(len(data)):
    print(data[x])

I

r
e
a
l
l
y

l
o
v
e

y
o
u

In [14]:
data.split()

['I', 'really', 'love', 'you']

In [15]:
data=data.split()
for i in range(len(data)):
    print(data[i])

I
really
love
you

In [16]:
data[1]

'really'

In [17]:
n=[1,2,3,4,5,6,7,8,9,10]
for x in n:
    total=0
    sum=total+x
print(sum)

10

In [18]:
for i in range(10):
    print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [19]:
for i in range(5,10,2):
    print('data science',i)

data science 5
data science 7
data science 9

In [20]:
for i in range(100,10,-10):
    print('data science',i)

data science 100
data science 90
data science 80
data science 70
data science 60
data science 50
data science 40
data science 30
data science 20

In [21]:
for i in range(0,10,2):
    print(i)
#for printing even number

0
2
4
6
8

In [22]:
# Print odd numbers from 1 to 20
for num in range(1, 21):
    if num % 2 != 0:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [23]:
# Print odd numbers from 1 to 20
for num in range(0, 20):
    if num % 2 != 0:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [24]:
for i in range(-100, -9):
    print(i, end=" ")
    #Numbers from -100 to -10")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [25]:
prime_sum = 0
for i in range(10, 1001):                 # loop from 10 to 1000
    if all(i % j != 0 for j in range(2, int(i**0.5) + 1)): 
        #This checks if i is prime.
#If i % j == 0, then i is divisible by j → not prime.
#If no such j divides i, then it’s prime.
#We only check up to sqrt(i) (int(i**0.5)) to save time.# 
        prime_sum += i                    # add if prime
print("Sum of prime numbers between 10 and 1000:", prime_sum)
prime_sum += i
#If the number is prime, add it to the total sum.

Sum of prime numbers between 10 and 1000: 76110

In [28]:
#Find factorial of n
n = int(input('enter the number : '))  # you can change this value
factorial = 1
for i in range(1, n+1):
    factorial *= i
print(f"Factorial of {n} is:", factorial)

Factorial of 5 is: 120

In [27]:
print("Exercise 4: Reverse a given integer number")
num = int(input("Enter a number: "))  # take input from user
reverse_num = 0
# Count the number of digits and create a range for the for loop
num_digits = len(str(num))  # just to know how many times to loop
temp = num
for _ in range(num_digits):#throwaway loop variable(_);which means an iterative variable which is not fixed
    reverse_num = reverse_num * 10 + temp % 10
    temp //= 10
print("Original number:", num)
print("Reversed number:", reverse_num)

Exercise 4: Reverse a given integer number
Original number: 45
Reversed number: 54